<h1>Clients index page</h1>
<a href="/clients/new"><button>New client</button></a>

<% clients.forEach(function(client) { %>
    <div>
        <h2><%= client.firstName %> <%= client.lastName %></h2>
        <div>Phone number: <%= client.phone %></div>
        <div>Address: <%= client.address %></div>
        <div><a href="/clients/<%= client.id %>">View more</a></div>
    </div>
<% }); %>